@{
    ViewBag.Title = "Thông tin nhân viên";
}

<h2>Thông tin nhân viên đã đăng ký</h2>

<p>Mã NV: @ViewBag.EmpID</p>
<p>Họ tên: @ViewBag.Name</p>
<p>Ngày sinh: @ViewBag.BirthOfDate</p>
<p>Email: @ViewBag.Email</p>
<p>Mật khẩu: @ViewBag.Password</p>
<p>Đơn vị: @ViewBag.Department</p>
<p>Ảnh đại diện:</p>
<img src="@ViewBag.Avatar" width="150" height="150" />
